@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-image: linear-gradient(25deg, #1f1782, #3d578e, #3f9498, #00d49f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 300px;
    align-items: center;
}

.main .image-container h1 {
    color: #fc8c76;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.main .image-container p {
    color: #cccccc;
    text-align: center;
    margin-bottom: 40px;
}
.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50px;
    border-radius: 20px;
    background: #ff5e3de0;
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.main .input .talk i {
    font-size: 20px;
    color: #e9f7f7;
}

.main .input .content {
    color: #efefef;
    font-size: 15px;
    margin-right: 20px;
}


.commands {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.177);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commands h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.commands ul {
    list-style-type: none;
    padding: 0;
}

.commands li {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .commands {
        display: none;
    }
    .main{
        display: none;
    }
}
